*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

.header { padding-block: 0; }

.header .logo { margin-right: 25px; }

.nav-open-btn { display: none; }

.navbar {
  position: static;
  opacity: 1;
  visibility: visible;
  background: none;
  max-width: unset;
  width: max-content;
  height: auto;
  box-shadow: none;
}

.navbar-top,
.nav-social-list { display: none; }

.navbar-list {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-link {
  position: relative;
  color: var(--platinum);
  padding-block: 34px;
  border: none;
  font-family: var(--ff-oswald);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.navbar-link::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: skew(-15deg);
  border-bottom: 5px solid transparent;
  z-index: -1;
  transition: var(--transition-1);
}

.navbar-link:focus { outline: none; }

.navbar-link:is(:hover, :focus)::after {
  background: var(--raisin-black-2);
  border-color: var(--orange);
}

.header-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-actions .search {
  color: var(--white);
  font-size: 18px;
  padding: 25px;
  transition: var(--transition-1);
}

.search ion-icon { --ionicon-stroke-width: 70px; }

.header-actions .search:is(:hover, :focus) { color: var(--orange); }

.btn-sign_in {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--raisin-black-3);
  color: var(--light-gray);
  font-family: var(--ff-oswald);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
  border-right: 5px solid var(--orange);
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.2);
  margin-left: 15px;
  transition: var(--transition-1);
}

.btn-sign_in::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 5px;
  height: 40px;
  background: var(--eerie-black);
  box-shadow: 0 3px 7px hsla(345, 75%, 30%, 0.2),
              inset 0 3px 7px 0 hsla(335, 53%, 14%, 0.4);
}

.btn-sign_in:is(:hover, :focus) { color: var(--orange); }

.btn-sign_in .icon-box {
  font-size: 18px;
  background: var(--raisin-black-2);
  padding: 6px;
  margin-right: 5px;
  box-shadow: 0 3px 7px hsla(345, 75%, 30%, 0.2),
              inset 0 3px 7px 0 hsla(335, 53%, 14%, 0.4);
}

.btn-sign_in .icon-box ion-icon { --ionicon-stroke-width: 40px; }

.btn-sign_in span { padding-inline: 10px; }

.overlay { display: none; }

@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 142.1 76.2% 36.3%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 142.1 76.2% 36.3%;
      --radius: 1rem;
    }
   
    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 0 0% 95%;
      --card: 24 9.8% 10%;
      --card-foreground: 0 0% 95%;
      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 95%;
      --primary: 142.1 70.6% 45.3%;
      --primary-foreground: 144.9 80.4% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 15%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 142.4 71.8% 29.2%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }